<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mansour.sales.mapper.SalesInfoMapper">
	<select id="selectSalesInfo" parameterType="map" resultType="com.mansour.sales.dto.SalesInfoModel">
		SELECT *
		  FROM OSOOMANSOUR.MANSOUR_MALL_SALES
		 WHERE SEQ = #{pSeq}
		   AND PRODUCT LIKE '%' || #{pName.keyword} || '%'
	</select>
</mapper>